*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    overflow-y: scroll;

}


.title{
    position: relative;
}

main{
    padding: 40px;
}


main .img{
    display: grid;
    grid-template-columns: repeat(3 , 4fr);
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

@media(max-width: 1000px){
    main .img{
        grid-template-columns: repeat(1 , 1fr);
    }
    .title{
        display: none;
    }


}

.pics{
    color: black;
    background-color: whitesmoke;
    margin: 20px;
    width: fit-content;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

main .img{
    width: 100%;
}

img{
    box-shadow:  0 0 15px;
}

.pics p{
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
}

.pics{
    transition: all 0.5s ease-in-out;
}

.pics:hover{
    scale: 2;
}

@media(max-width: 1000px){
    .pics:hover{
        scale: 1.4;
    }   

    .hide{
        display: none;
    }
}

.nav{
    z-index: 3;
    position: fixed;
    width: 100%;
    box-shadow:  0 0 20px grey;
    background-color: whitesmoke;
    padding: 10px;
}

.nav ul{
    display: flex;
    justify-content: space-between;
}

.nav ul li{
    text-decoration: none;
}

.nav ul li a{
    color: rgb(51, 51, 51);
    font-family: Helvetica;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
}

.nav ul li a:hover{
    color: rgba(128, 128, 128, 0.43);
}

main{
    background-color:  rgba(21, 68, 143, 0.826);
}