*{
    transition: all 0.2s ease-in-out;
}

.info-style{
    margin-top: 40px;
}

.boxOfinfo{
    display: flex;
    justify-content: space-between;
    gap: 400px;
    align-items: center;
}

hr{
    margin: 5px;
}

.selection{
    padding: 20px;
}

.listStyle{
    display: flex;
    gap: 30px;
}

.fa-bowl-rice:hover , .fa-signal:hover{
    color: rgb(0, 157, 255);
}

.shapePics{
    width: 50px;
    height: 50px;
    border-radius: 100rem;
}

.itemsListed{
    transition:  all 0.2s ease-in-out;

    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.listed{
    transition:  all 0.2s ease-in-out;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.listed:hover{
    box-shadow:  0 0 25px grey;
    cursor: grab;
    background-color: lightgrey;
}

.listed:active{
    background-color: rgba(211, 211, 211, 0.597);
}

@media(max-width: 1000px){
    .listed:hover{
        box-shadow:  0 0 25px grey;
        cursor: grab;
        background-color: white;
    }

    .boxOfinfo{
        padding: 20px;
        margin: 20px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
    }

    .selection{
        margin-left: 10px;
    }

}

.cookie{
    transition:  all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.grided{
    transition:  all 0.2s ease-in-out;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}


@media(min-width: 1000px){
    .slideOut{
        transform: translateX(-500px);
    }
}

.set-box{
    display: none;
    top: 0;
    background-color: rgba(0, 0, 0, 0.836);
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.thebuttons{
    background-color: #eee;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    box-shadow: 0 0 5px;
}

.cancel{
    background-color: #eee;
       width: 35px;
       height: 35px;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    
    .similar{
        height: 60px;
        width: 60px;
}

.set-buttonSpace{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes identifier {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.5;
    }
}

.displayBox{
    display: block;
    animation: identifier 0.13s ease-in-out;
}

/* @media(max-width: 1000px){
    
    .resetAccount{
        
    }
    } */